.dong-ho tr td{margin:0;border:none !important}.list-gia-pha{background:#FFFAC1 !important}.list-gia-pha tr th{background:#FFFAC1 !important;border:0 solid #D72D08 !important;font-size:16px;color:rgb(177,38,6)}.tab-giapha{background:rgb(177,38,6);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}.tab-giapha .title-gia-pha{color:#fff66e}.tab-giapha .title-gia-pha a{color:#fff66e;font-size:16px;font-weight:bold;padding:10px}.tab-giapha .title-gia-pha a span{font-family:Arial}.a-giapha{color:rgb(177,38,6);font-weight:600;border:1px solid rgb(177,38,6);padding:10px;margin-bottom:10px}.a-giapha a{color:rgb(177,38,6)}.location{background:#FFF8A9;margin:0;padding:10px;width:100%;border:1px solid rgb(177,38,6);border-bottom-left-radius:5px;border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px}.location tr{border-collapse:separate}.location tr td{border:1px solid #D12607 !important}table{border-collapse:separate}table.tabnkv{border:1px solid rgb(177,38,6);border-collapse:separate;border-spacing:1px;caption-side:top;empty-cells:show}table.tabnkvv{width:66.66666667%}table.tabnkv caption{font:bold 13px/27px tahoma,verdana,sans-serif;margin-top:8px;text-align:left;text-indent:12px;color:#fff66e}table.tabnkv tbody{background:#f7f7f7}table.tabnkv tbody.second{background:#eee}table.tabnkv td a,table.tabnkv th a{color:#333;text-decoration:inherit}table.tabnkv td,table.tabnkv th{padding:7px 5px 7px 5px;background-color:#FFF8A9}table.tabnkv tfoot{background:#ccc;font:bold 11px tahoma,verdana,sans-serif}table.tabnkv th{background:#ccc;font-weight:normal;text-align:left}table.tabnkv thead,table.tabnkv .thead_box{background:#FFF66E;font:bold 11px/18px tahoma,verdana,sans-serif;white-space:nowrap}table.tabnkv th.head1{width:35px;text-align:center;white-space:nowrap}table.tabnkv td.col1{text-align:center;width:35px;font-size:8px;vertical-align:bottom}table.tabnkv td.col2{font-size:8px;width:300px}table.tabnkv tr.row1{width:35px;text-align:center}table.tabnkv td.align_r{text-align:right}ul.list-genealogy{margin:0 0 8px 0;list-style-type:none;padding:0}ul.list-genealogy li{display:block;padding:0}ul.list-genealogy li a{display:block;padding:5px 10px 5px;border:1px solid #fee800;color:#fee800;font-size:1em;text-transform:uppercase;background:rgb(217,48,8);color:#fee800;font-weight:700}ul.list-genealogy li.ui-genealogys-selected a{border:1px solid #a63700;background:#982100;color:#fff}.filetree span.male,.filetree span.female,span.default{padding:1px 0 1px 16px}.filetree span.male{background:url(../images/genealogy/male.png) 0 0 no-repeat}.filetree span.female{background:url(../images/genealogy/female.png) 0 0 no-repeat}.filetree span.default{background:url(../images/genealogy/default.png) 0 0 no-repeat}#biagiapha{width:auto;max-width:100%;width:100%;text-align:center;border:3px solid #6F3700;height:100%;margin:0 auto;color:#fff}#tengiapha{color:#FBFE00;font-size:60px;font-weight:bold;padding:160px 70px 70px;text-shadow:2px 2px 3px #666666,-1px -1px 3px,1px 1px #666666,-1px -1px #FFF}#biagiapha .header{font-size:14px;padding-top:50px;text-transform:uppercase;color:#ff0}.ui-dialog{z-index:99999 !important}.biagiapha{position:absolute;width:100%;bottom:100px}#banners{top:0;left:0;overflow:hidden}#banners img{width:100%;min-height:100%}.buttom-giapha{width:78%;margin:0 auto;padding-right: 15px;}.gia-pha-vietnam{text-align:center;font-size:16px;font-weight:bold;color:#fee800;margin-bottom:10px}.gia-pha-vn{font-size:15px;font-weight:700;color:#fee800;text-align:center}.xuatdpf{text-align:center;width:100%;max-width:100%;*width:620px;margin:10px auto;background:rgb(255,248,169)}.xuatfile > tbody > tr:nth-child(2n+1) > td,.xuatfile > tbody > tr:nth-child(2n+1) > th{background:#FFF583;border:1px solid #B42606}.xuatfile > thead > tr > th,.xuatfile > tbody > tr > th,.xuatfile > tfoot > tr > th,.xuatfile > thead > tr > td,.xuatfile > tbody > tr > td,.xuatfile > tfoot > tr > td{border:1px solid #B42606}.pha-ky{padding:10px;border:1px solid #B42606;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}.pha-ky-one{border-bottom:solid 1px #B42606}.pha-ky-tow{padding-top:10px; background:none repeat scroll 0% 0% #FFF66E;}.text-center{text-align:center}.locations{background:none repeat scroll 0% 0% #FFF66E;margin:0;padding:10px;width:100%;border:1px solid #B12606;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}.locations ul li{background-color:#fff66e}#loadbar input{background-color:rgb(217,48,8);color:#FAFAFA;padding:5px 10px;border:1px solid rgb(225,45,0);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-bottom:1px solid #0D5E94;zoom:1;background-color:#d93008;background-image:-webkit-linear-gradient(bottom,#d93008 15%,#b92a09 100%);background-image:linear-gradient(to top,#b92a09 15%,#d93008 100%);-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);-khtml-box-shadow:0 2px 3px 0 rgba(0,0,0,0.2);box-shadow:0 2px 3px 0 rgba(0,0,0,0.2)}.sunghiep-congduc a span{font-family:arial}.sunghiep-congduc-a{background:#FFF8A9}.padding-topbottom{margin:10px 0;padding:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px}#visualization{background-color:#FFF8A9;border:1px solid rgb(177,38,6);padding:10px}.tabnkvs{background-color:#FFF583}.tabnkv>tbody>tr:nth-child(odd)>td,.tabnkv>tbody>tr:nth-child(odd)>th{background:#FFF8A9}#imghome{padding-top:10px}.detail-hn{padding:10px;border:1px solid rgb(177,38,6);border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}a.morelink{text-decoration:none;outline:none}.morecontent span{display:none}.comment{margin:0;padding:10px}.readmore-js-toggle{padding:10px;font-weight:bold;width:100%;background:#FFF8A9}.readmore-js-toggle a{float:right;margin-top:-15px}.tabnkvsbc{background:#B12606;border-top:1px solid rgb(177,38,6);border-left:1px solid rgb(177,38,6);border-right:1px solid rgb(177,38,6);padding:10px;border-radius:5px;-moz-border-radius:5px -webkit-border-radius:5px}.title-tab{color:#FFF583;font-weight:bold;font-size:14px;padding:10px}.main-title{color:#d72d08;background:#FFF8A9}.table-bordered{border:1px solid #d72d08}.table-bordereds > thead > tr > th,.table-bordereds > thead > tr > td{border:1px solid #D72D08}



#dm_container_11{
	border:0px solid #2B170C;
}
.btn_next,.btn_next2,.btn_next3,.btn_next4{
	border:0px;
	background:url(../images/shops/Next.jpg) no-repeat left top;
	border:1px solid #2B170C;
	margin-right:5px;
	height:20px;
	width:58px;
	color:#fff; cursor:pointer;
}
.btn_next_disable{
	background:url(../images/shops/Next_disable.jpg) no-repeat left top !important;
}
#dm_container_11 a:hover ,#dm_container_11 input:hover{
	text-decoration:none;
	color:#F8B150;
}
.btn_back{
	background:url(../images/shops/Back.jpg) no-repeat left top;
	color:#fff;
	margin-right:10px;
	padding-top:1px;
	padding-bottom:1px;
	padding-right:7px;
	padding-left:17px;
	border:1px solid #2B170C;
	margin-left:5px;
}
#dm_tabs_1 ul.dm_menu_1 { width:auto; margin:0; padding:0; list-style:none; }
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 {
	width:175px;
	display: inline; 
	padding:0;
	float:left; 
	/*border:1px solid #2B170C; */
	border-bottom:none; 
	/*background-color:#3F271A; */
	/*background-image:none; */
	/*background:url(Center1.jpg) no-repeat right top;*/
}



#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 a { 
	font:bold 13px Arial; 
	float:left; 
	border:none; 
	color:#ccc; 
	line-height:31px;
	padding-left:15px;
	text-decoration:none; 
}
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 a.dm_selected { 
	position:relative;
	top:1px;
	/*background-color:#4F2F1D;*/
	color:#F8B150; 
}
#dm_tabs_1 ul.dm_menu_1 li.dm_menu_item_1 a:hover {
	/*background-color:#4F2F1D;*/
	color:#F8B150; 
}
#dm_container_1 {
	border:1px solid #4F2F1D;
	width:auto;
	height:auto;
	background-color:inherit;
	padding:5px;
	overflow:hidden; 
}
#dm_container_1 .dm_tabcontent {display:none; }
#dm_tab_1_2,#dm_tab_1_3,#dm_tab_1_4,#dm_tab_1_5 {display:none; }

